---
title: VMware Tanzu Application Service for Windows v2.13 Release Notes
owner: Garden Windows
---

<% current_page.data.title = vars.windows_runtime_full + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.windows_runtime_full %> (<%= vars.windows_runtime_abbr %>) <%= vars.v_major_version %>.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a MySQL patch and VMware releasing
<%= vars.windows_runtime_abbr %> containing that patch.

Before you install the tile, refer to the [Windows Stemcell Compatibility Matrix](./stemcells.html#compatibility).

<hr>

## <a id='releases'></a> Releases

### <a id='2.13.8'></a> 2.13.8

**Release Date:** 11/10/2022

* Bump diego to version `2.69.0`
* Bump garden-runc to version `1.22.5`
* Bump windows-syslog to version `1.1.10`
* Bump hwc-offline-buildpack to version `3.1.26`
* Bump loggregator-agent to version `6.5.4`
* Bump metrics-discovery to version `3.2.3`
* Bump smoke-tests to version `4.8.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td><td></td></tr>
    <tr><td>diego</td><td>2.69.0</td><td></td></tr>
    <tr><td>envoy-nginx</td><td>0.13.0</td><td></td></tr>
    <tr><td>event-log</td><td>0.9.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.22.5</td><td></td></tr>
    <tr><td>windows-syslog</td><td>1.1.10</td><td></td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.26</td>
      <td>
        <details>
          <summary>3.1.26</summary>
          <pre style="max-width: 30em">
  * Update libbuildpack
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | hwc | 20.0.0 | windows, windows2016 |
  Default binary versions:
  | name | version |
  |-|-|
  | hwc | 20.0.0 |
  * Uncached buildpack SHA256: b9b2cec9ada73d9a2933a14e8e56f025c35b02d8bed7e74e20b093a23e13ec43
  * Uncached buildpack SHA256: f633f0f686fc9539ec8f4ef205e778c820602e51434730fd69f7caad4cfb3d4f
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>loggregator-agent</td><td>6.5.4</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.2.3</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.8.1</td>
      <td>
        <details>
          <summary>4.8.1</summary>
          <pre style="max-width: 30em">
  Create bosh final release 4.8.1
          </pre>
        </details>
        <details>
          <summary>4.8.0</summary>
          <pre style="max-width: 30em">
  Create bosh final release 4.8.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>winc</td><td>2.8.0</td><td></td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td><td></td></tr>
  </tbody>
</table>



<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>

### <a id='2-13-7'></a> v2.13.7

**Release Date:** 10/19/2022

* **[Feature Improvement]** Add option for file logging and improved event logging
* Bump diego to version `2.68.0`
* Bump envoy-nginx to version `0.13.0`
* Bump garden-runc to version `1.22.3`
* Bump windows-syslog to version `1.1.9`
* Bump loggregator-agent to version `6.5.2`
* Bump metrics-discovery to version `3.2.1`
* Bump smoke-tests to version `4.7.0`
* Bump winc to version `2.8.0`
* Bump windowsfs-release to version `2.37.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td><td></td></tr>
    <tr><td>diego</td><td>2.68.0</td>
      <td>
        <details>
          <summary>v2.68.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Bump to go 1.19.1! Thanks @mariash!
  * Add buildvcs=false to all windows package compilation. Thanks @geofffranks!
  ### ✨ Built with go 1.19.1
  **Full Changelog**: https://github.com/cloudfoundry/diego-release/compare/v2.67.0...v2.68.0
          </pre>
        </details>
        <details>
          <summary>v2.67.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - `cacheddownloader` now has a backoff algorithm when retrying failed downloads. This was provided as a way to work around thundering herds of cells downloading and overwhelming rate-limited blobstores. Thanks for the PR @prycey77!
  - Bump natsclient + route-emitter dependencies
  ## ✨ Built with go 1.18.5
  ## Resources
  - [Download release v2.67.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/diego-release?version=2.67.0).
  - Verified with [cloudfoundry/cf-deployment @ `e639b051fdd968f5931f1c14e80cb7d4cbc32ea6`](https://github.com/cloudfoundry/cf-deployment/commit/e639b051fdd968f5931f1c14e80cb7d4cbc32ea6).
          </pre>
        </details>
        <details>
          <summary>v2.66.4</summary>
          <pre style="max-width: 30em">
  This release was created by mistake via CI. See v2.67.0 instead
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>envoy-nginx</td><td>0.13.0</td><td></td></tr>
    <tr><td>event-log</td><td>0.9.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.22.3</td><td></td></tr>
    <tr><td>windows-syslog</td><td>1.1.9</td><td></td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.25</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.5.2</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.2.1</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.7.0</td>
      <td>
        <details>
          <summary>4.7.0</summary>
          <pre style="max-width: 30em">
  Create bosh final release 4.7.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>winc</td><td>2.8.0</td><td></td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td><td></td></tr>
    <tr><td>windowsfs-release</td><td>2.37.0</td></tr>
  </tbody>
</table>

### <a id='2-13-6'></a> v2.13.6

**Release Date:** 09/21/2022

* **[Security Fix]** Bump Cloud Controller Ruby version to 2.7.6 and Go to 1.18.5
* **[Security Fix]** Update Content-Security-Policy
* **[Breaking Change]** If you have configured an app log rate limit that measures app log rates in lines per second, Diego immediately drops app logs that
exceed the app log rate limit. For more information, see [Diego Drops App Logs That Exceed the App Log Rate Limit](#dropped-app-logs) below.
* **[Feature]** Enables TLS for all internal MySQL galera and monitoring components
* **[Feature Improvement]** Bump golang to 1.18 for diego, routing, cf-networking, and silk
* **[Known Issue]** If Git is not installed in the `PATH` environment variable for your Windows stemcell when you deploy <%= vars.windows_runtime_abbr %>, you
may encounter a version control system (VCS) stamping failure. For more information, see [Windows Stemcells Without Git Installed Cause VSC Stamping
Failures](#vsc-stamping-failure) below.
* Bump diego to version `2.66.3`
* Bump envoy-nginx to version `0.11.0`
* Bump garden-runc to version `1.22.2`
* Bump hwc-offline-buildpack to version `3.1.25`
* Bump loggregator-agent to version `6.5.0`
* Bump metrics-discovery to version `3.2.0`
* Bump winc to version `2.7.0`
* Bump windowsfs-release to version `2.36.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.66.3</td></tr>
    <tr><td>envoy-nginx</td><td>0.11.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.22.2</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.25</td></tr>
    <tr><td>loggregator-agent</td><td>6.5.0</td></tr>
    <tr><td>metrics-discovery</td><td>3.2.0</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>winc</td><td>2.7.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.36.0</td></tr>
  </tbody>
</table>

### <a id='2-13-5'></a> v2.13.5

**Release Date:** 08/10/2022

* Bump loggregator-agent to version `6.4.3`
* Bump metrics-discovery to version `3.1.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.62.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.9.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.20.8</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.24</td></tr>
    <tr><td>loggregator-agent</td><td>6.4.3</td></tr>
    <tr><td>metrics-discovery</td><td>3.1.1</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>winc</td><td>2.5.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
  </tbody>
</table>

### <a id='2-13-4'></a> v2.13.4

**Release Date:** 07/19/2022

* Bump diego to version `2.62.0`
* Bump garden-runc to version `1.20.8`
* Bump loggregator-agent to version `6.4.2`
* Bump metrics-discovery to version `3.1.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.62.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.9.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.20.8</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.24</td></tr>
    <tr><td>loggregator-agent</td><td>6.4.2</td></tr>
    <tr><td>metrics-discovery</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>winc</td><td>2.5.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.35.0</td></tr>
  </tbody>
</table>

### <a id='2-13-3'></a> v2.13.3

**Release Date:** 06/24/2022

<p class='note warning'><strong>Warning:</strong> Upcoming reduction in maintenance and security release coverage! In future patches, no sooner than July 1st 2022, some TAS components will become more strict about the protocols used in TLS communications, causing integrations with systems using older, insecure protocols to fail. Specifically, components built using the Go programming language will no longer support TLS 1.0 or 1.1, or certificates using SHA-1. In order to avoid breaking changes in this version line, (which has reached its End of General Support,) these components will no longer be updated with bug and security fixes in any patches that may be released. To continue receiving maintenance and security releases, upgrade to a version of TAS that remains in general support.</p>

* Bump diego to version `2.62.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.62.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.9.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.20.6</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.24</td></tr>
    <tr><td>loggregator-agent</td><td>6.4.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.13</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>winc</td><td>2.5.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.35.0</td></tr>
  </tbody>
</table>

### <a id='2-13-2'></a> v2.13.2

**Release Date:** 06/09/2022

<p class='note warning'><strong>Warning:</strong> Breaking change. This version contains Diego 2.64.0, which bumps to Go 1.18. Go 1.18 no longer supports TLS 1.0 and 1.1 connections or certificates with a SHA-1 checksum. This is most likely to affect connections with external databases. We stated earlier that we wouldn't bump to Go 1.18 until July 1, 2022. This TAS release with Diego 2.64.0 breaks that promise. We apologize. We are rolling back to Diego 2.62.0.  If you already successfully deployed to this TAS release with Diego 2.64.0, then you are safe to continue using it.</p>

* **[Breaking Change]** Syslog drains configured to use TLS now [reject certificates signed with the SHA-1 hash function](https://go.dev/doc/go1.18#sha1).
* Bump diego to version `2.64.0`
* Bump garden-runc to version `1.20.6`
* Bump loggregator-agent to version `6.4.1`
* Bump metrics-discovery to version `3.0.13`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.64.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.9.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.20.6</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.24</td></tr>
    <tr><td>loggregator-agent</td><td>6.4.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.13</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>winc</td><td>2.5.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.35.0</td></tr>
  </tbody>
</table>

### <a id='2-13-1'></a> v2.13.1

**Release Date:** 04/20/2022

* Bump diego to version `2.62.0`
* Bump garden-runc to version `1.20.3`
* Bump hwc-offline-buildpack to version `3.1.24`
* Bump winc to version `2.5.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.62.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.9.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.20.3</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.24</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.8</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.8</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>winc</td><td>2.5.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.35.0</td></tr>
  </tbody>
</table>

### <a id='2-13-0'></a> v2.13.0

**Release Date:** March 29, 2022

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.58.1</td></tr>
    <tr><td>envoy-nginx</td><td>0.9.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.20.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.22</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.8</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.8</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>winc</td><td>2.4.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.33.2</td></tr>
  </tbody>
</table>


## <a id='upgrade'></a> How to Upgrade

The <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile is available with the release of <%= vars.app_runtime_first %>
<%= vars.v_major_version %>. To use the <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile, you must install <%= vars.ops_manager %> v2.10 or
later and <%= vars.app_runtime_abbr %> <%= vars.v_major_version %> or later.


## <a id='new-features'></a> New Features in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes no new features.


## <a id='breaking-changes'></a> Breaking Changes

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes the following breaking change:

### <a id='dropped-app-logs'></a> Diego Drops App Logs That Exceed the App Log Rate Limit

As of <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.6, if you have configured an app log rate limit that measures app log rates in lines per
second, Diego immediately drops app logs that exceed the app log rate limit.

In <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.5 and earlier, Diego buffers and releases approximately 5&nbsp;MB to 10&nbsp;MB of app logs
that exceed the app log rate limit. This behavior has changed in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.6 because Diego has been
upgraded to a newer version.

If this change in behavior causes parts of your deployment to fail, <%= vars.company_name %> recommends that you either modify any automated scripts that rely
on app log output or increase the app log rate limit.

For more information about app log rate limits, see [App Log Rate Limiting](../loggregator/app-log-rate-limits.html).


## <a id='known-issues'></a> Known Issues

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes the following known issue:

### <a id='vsc-stamping-failure'></a> Windows Stemcells Without Git Installed Cause VSC Stamping Failures

If Git is not installed either on your Windows stemcell or in the `PATH` environment variable for your Windows stemcell when you deploy
<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.6, you may see the following error:

<pre class='terminal'>Stderr: 	Use -buildvcs=false to disable VCS stamping.</pre>

This occurs because some <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.6 use Go v1.18, which embeds VSC information in binaries. As a result,
releases that contain `.git` files require that Git is installed either on your Windows stemcell or in the `PATH` for your Windows stemcell. If you do not
have Git installed in either location and have not set the `buildvcs` property to `false`, Go v1.18 fails to build the release.

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.6 contains `windows2019fs-release`. Because `windows2019fs-release` contains `.git` files,
deployments of <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.6 using Windows stemcells that do not have Git installed on them or in their
`PATH` fail with the VSC stamping error above.
