---
title: VMware Tanzu Application Service for Windows v2.13 Release Notes
owner: Garden Windows
---

<% current_page.data.title = vars.windows_runtime_full + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.windows_runtime_full %> <%= vars.v_major_version %>.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle
releasing a MySQL patch and VMware releasing <%= vars.windows_runtime_abbr %> containing that patch.

Before you install the tile, refer to the [Windows Stemcell Compatibility Matrix](./stemcells.html#compatibility).

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>

### <a id='2.13.0-rc.2'></a> 2.13.0-rc.2

**Release Date:** 03/22/2022


<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.58.1</td></tr>
    <tr><td>envoy-nginx</td><td>0.9.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.20.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.22</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.8</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.8</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>winc</td><td>2.4.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.33.2</td></tr>
  </tbody>
</table>



### <a id='2.13.0-rc.1'></a> 2.13.0-rc.1

**Release Date:** 03/18/2022


<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.58.1</td></tr>
    <tr><td>envoy-nginx</td><td>0.9.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.20.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.22</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.8</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.8</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>winc</td><td>2.4.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.33.2</td></tr>
  </tbody>
</table>



### <a id='2.13.0-beta.2'></a> 2.13.0-beta.2

**Release Date:** 02/28/2022

* **[Bug Fix]** Smoke tests support for TLSv1.3 only option
* Bump diego to version `2.58.1`
* Bump envoy-nginx to version `0.9.0`
* Bump garden-runc to version `1.20.0`
* Bump hwc-offline-buildpack to version `3.1.22`
* Bump loggregator-agent to version `6.3.8`
* Bump metrics-discovery to version `3.0.8`
* Bump smoke-tests to version `4.5.0`
* Bump winc to version `2.4.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.58.1</td></tr>
    <tr><td>envoy-nginx</td><td>0.9.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.20.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.22</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.8</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.8</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>winc</td><td>2.4.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.33.2</td></tr>
  </tbody>
</table>



### <a id='2.13.0-beta.1'></a> 2.13.0-beta.1

**Release Date:** 02/08/2022

* **[Security Fix]** Diego - Bump containerd to v1.5.9 to fix CVE-2021-43816
* **[Feature Improvement]** <%= vars.windows_runtime_abbr %> supports compiled releases
* **[Bug Fix]** windowsfs-release compilation issue - Cannot extract through symlink
* Bump diego to version `2.57.0`
* Bump loggregator-agent to version `6.3.7`
* Bump windowsfs-release to version `2.33.2`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.57.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.8.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.31</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.21</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.7</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.7</td></tr>
    <tr><td>smoke-tests</td><td>4.4.0</td></tr>
    <tr><td>winc</td><td>2.3.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.33.2</td></tr>
  </tbody>
</table>



### <a id='2.13.0-alpha.4'></a> 2.13.0-alpha.4

**Release Date:** 01/07/2022

* **[Bug Fix]** Smoke Tests uses specified domain for Isolation Segments
* Bump diego to version `2.56.0`
* Bump envoy-nginx to version `0.8.0`
* Bump hwc-offline-buildpack to version `3.1.21`
* Bump loggregator-agent to version `6.3.5`
* Bump metrics-discovery to version `3.0.7`
* Bump smoke-tests to version `4.4.0`
* Bump windowsfs-release to version `2.32.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>~2019</td></tr>
    <tr><td>diego</td><td>2.56.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.8.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.31</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.21</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.5</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.7</td></tr>
    <tr><td>smoke-tests</td><td>4.4.0</td></tr>
    <tr><td>winc</td><td>2.3.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.32.0</td></tr>
  </tbody>
</table>



### <a id='2.13.0-alpha.3'></a> 2.13.0-alpha.3

**Release Date:** 11/23/2021

* Bump diego to version `2.53.1`
* Bump garden-runc to version `1.19.31`
* Bump hwc-offline-buildpack to version `3.1.20`
* Bump windowsfs-release to version `2.31.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.53.1</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.31</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.20</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>winc</td><td>2.3.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.31.0</td></tr>
  </tbody>
</table>
### <a id='2.13.0-alpha.2'></a> 2.13.0-alpha.2

**Release Date:** 10/20/2021

* **[Feature Improvement]** HTTP/2 toggle disables Diego container proxy ALPN
* No BOSH release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.53.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.18</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>winc</td><td>2.3.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.29.0</td></tr>
  </tbody>
</table>
### <a id='2.13.0-alpha.1'></a> 2.13.0-alpha.1

**Release Date:** 10/13/2021

* No BOSH release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.53.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.18</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>winc</td><td>2.3.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.29.0</td></tr>
  </tbody>
</table>

## <a id='upgrade'></a> How to Upgrade

The <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile is available with the release of <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>. To use the <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile, you must install <%= vars.ops_manager_full %> <%= vars.v_major_version %> or later and <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) <%= vars.v_major_version %> or later.

## <a id='new-features'></a> New Features in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes the following major features:

## <a id='breaking-changes'></a> Breaking Changes

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes the following breaking changes:

## <a id='known-issues'></a> Known Issues

See the following <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> known issues:
