---
title: VMware Tanzu Application Service for Windows v2.13 Release Notes
owner: Garden Windows
---

<% current_page.data.title = vars.windows_runtime_full + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.windows_runtime_full %> <%= vars.v_major_version %>.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle
releasing a MySQL patch and VMware releasing <%= vars.windows_runtime_abbr %> containing that patch.

Before you install the tile, refer to the [Windows Stemcell Compatibility Matrix](./stemcells.html#compatibility).

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>

### <a id='2.13.2'></a> 2.13.2

**Release Date:** 06/09/2022

<p class="note warning"><strong> Warning:Upcoming breaking changes!</strong> In future patches, no sooner than July 1st 2022, some components will become more strict about the protocols used in TLS communications, causing integrations with systems using older, insecure protocols to fail. Specifically, components using the Go programming language will be updated to Go 1.18, and will no longer support TLS 1.0 and 1.1 connections or certificates with a SHA-1 checksum. This is most likely to affect connections with external databases. However, the pre-existing configuration for "TLS versions supported by the Gorouter" will still work. This change may not arrive all at once, as Go is used in systems throughout TAS. There will be a VMware Knowledge Base article about this change published prior to the changes rolling out. These changes will be clearly designated in the release notes of the versions they ship in; a version of this warning will appear on all patch versions until we are confident no systems remain to be updated.</p>

* Bump diego to version `2.64.0`
* Bump garden-runc to version `1.20.6`
* Bump loggregator-agent to version `6.4.1`
* Bump metrics-discovery to version `3.0.13`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.64.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.9.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.20.6</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.24</td></tr>
    <tr><td>loggregator-agent</td><td>6.4.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.13</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>winc</td><td>2.5.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.35.0</td></tr>
  </tbody>
</table>



### <a id='2.13.1'></a> 2.13.1

**Release Date:** 04/20/2022

* Bump diego to version `2.62.0`
* Bump garden-runc to version `1.20.3`
* Bump hwc-offline-buildpack to version `3.1.24`
* Bump winc to version `2.5.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.62.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.9.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.20.3</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.24</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.8</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.8</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>winc</td><td>2.5.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.35.0</td></tr>
  </tbody>
</table>



### <a id='2.13.0'></a> 2.13.0

**Release Date:** March 29, 2022

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.58.1</td></tr>
    <tr><td>envoy-nginx</td><td>0.9.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.20.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.22</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.8</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.8</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>winc</td><td>2.4.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.33.2</td></tr>
  </tbody>
</table>

## <a id='upgrade'></a> How to Upgrade

The <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile is available with the release of TAS for VMs <%= vars.v_major_version %>. To use the <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile, you must install Ops Manager <%= vars.v_major_version %> or later and <%= vars.app_runtime_full %> (TAS for VMs) <%= vars.v_major_version %> or later.

## <a id='new-features'></a> New Features in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes no major features.

## <a id='breaking-changes'></a> Breaking Changes

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes no breaking changes.

## <a id='known-issues'></a> Known Issues

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes no known issues.
