---
title: Windows authentication for .Net apps
owner: Windows
---

This topic describes how to integrate Windows Diego Cells with an existing Active Directory domain in order to enable support for apps using Windows Authentication.

## <a id='overview'></a> Overview

Windows Authentication allows users accessing a Windows app on <%= vars.windows_runtime_abbr %> to transparently authenticate using their domain credentials.

## <a id='security'></a> Security considerations

It is imperative that HTTP routing via the gorouter not be used for apps that use Windows Authentication.  Windows Authentication sessions are cached by source IP and port.  The gorouter [maintains](../concepts/http-routing.html#back-end) TCP connections to app containers and re-uses them for subsequent inbound HTTP requests.  This implies that a given gorouter uses the same port to talk to an app for multiple users.  User authentication sessions end up being shared among multiple users making HTTP requests to the Windows Authentication app, which is a serious security hazard.

To avoid this risk, use TCP routing.  The TCP router does not maintain connections to app containers in the same fashion as the gorouter.  Therefore, user authentication sessions are not shared among multiple users.  To enable TCP routing, see [Configure Networking](../operating/configure-pas.html#networking) for the <%= vars.app_runtime_abbr %> tile.

Apps using Windows Authentication should be use the `--no-route` flag to `cf push`, or specify a `routes` stanza in their manifest with solely a TCP route.


## <a id='prerequisites'></a> Prerequisites

Before you configure the <%= vars.windows_runtime_abbr %> tile for Windows Authentication, ensure that you meet the requirements:

* Your Active Directory instance is configured with a GMSA and a regular user that has been granted access to the GMSA credentials (see the [Microsoft docs](https://learn.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/manage-serviceaccounts) for specifics).
* Your Windows Diego cells have the appropriate [firewall rules](https://learn.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/gmsa-troubleshooting#check-the-firewall-configuration) to access the Active Directory instance.
* [Application Security Groups](../concepts/asg.html) must be configured to allow traffic from app containers to the Active Directory instance.
* [TCP Routing](../operating/configure-pas.html#networking) must be enabled and configured.
<p class="note warning"><strong>Warning:</strong> Using Windows Authentication via the gorouter is strongly discouraged and will result in authentication sessions for one user being returned to a different user.  Apps using Windows Authentication should <strong>only</strong> be accessed via TCP routes.</p>
* The **The Gorouter and apps use mutual TLS to verify each other’s identity** under [Advanced Features](installing.html#config-advanced-features) must not be selected, as this disables TCP routing.
* Depending on your IaaS, you may need to configure BOSH DNS handlers so that your app containers can resolve domain resources via the Active Directory instance. See the <a class="external-link" href="https://docs.pivotal.io/ops-manager/install"><strong>Ops Manager Documentation</strong></a> for IaaS-specific instructions.
* Apps pushed intending to use Windows Authentication must use the HWC buildpack

<p class="note"><strong>Note:</strong> We strongly recommend using an isolation segment for Windows Authentication, as all apps in the <%= vars.windows_runtime_abbr %> installation will have access to the GMSA credentials.  To associate a <%= vars.windows_runtime_abbr %> tile with an isolation segment, so that its Diego Cells run in that segment, see <a href="./isolation.html">Windows Diego Cells in Isolation Segments</a>.</p>


## <a id='limitations'></a> Limitations

* Authenticating via the cf cli with Windows Authentication is not supported
* Every app in the in the <%= vars.windows_runtime_abbr %> installation will have access to the GMSA credentials.  There is no way to configure it on an app-by-app-basis
* Windows Authentication delegation from App to Service is not supported

## <a id='configure-tile'></a> Configure the tile

First follow the steps in the [Microsoft docs](https://learn.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/manage-serviceaccounts#create-a-credential-spec) to create the appropriate values, then select **Windows Authentication** and follow this procedure:

1. Under **Windows Authentication**  select **Enable**.
1. For the **Type X to acknowledge...** field, enter `X`.  See [Security considerations](#security) above for more details.
1. For the **Fully-qualified Active Directory domain name** field, enter the domain name of the Active Directory instance to integrate with.
1. For the **Standard user name** field, enter a user which has been granted access to retrieve the GMSA password.
1. For the **Standard user password** field, enter the password for that user.
1. For the **Container credential spec** field, enter the JSON credential spec generated from the [Microsoft docs](https://learn.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/manage-serviceaccounts#create-a-credential-spec).

1. Click **Save**.
1. [Deploy the tile](installing.html#deploy)

## <a id='rotating'></a> Rotating the standard user

For this, follow along with the steps in the [Microsoft docs](https://learn.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/manage-serviceaccounts#use-case-for-creating-gmsa-account-for-non-domain-joined-container-hosts) but do not create a new service account or security group

1. Create a new user account.
1. Add the user to the security group that guards access to the GMSA service account.
1. Update the **Standard user name** and **Standard user password** fields with the new user information.
1. Click **Save**.
1. [Deploy the tile](installing.html#deploy)


## <a id='troubleshooting'></a> Troubleshooting

For troubleshooting steps, see [Troubleshooting Windows Authentication](./troubleshooting.html#windows-authentication)