---
title: <%= vars.product_windows_full %>
owner: Windows
---

<%= vars.product_windows_full %> enables operators to provision, operate, and manage Windows stemcells on <%= vars.first_product_name %>.

After operators install the <%= vars.product_windows %> tile on the Ops Manager Installation Dashboard, developers can push .NET apps to Windows Diego Cells using the [Cloud Foundry Command Line Interface](../cf-cli/) (cf CLI).

For the <%= vars.product_windows %> release notes, see [Pivotal Application Service for Windows <%= vars.v_major_version %> Release Notes](../pcf-release-notes/windows-rn.html).


## <a id='reqs'></a> Requirements

To install the <%= vars.product_windows %> tile, you must have:

* Ops Manager <%= vars.v_major_version %> and Pivotal Application Service (PAS) <%= vars.v_major_version %> deployed to vSphere, Amazon Web Services (AWS), Google Cloud Platform (GCP), or Azure.

* A Windows stemcell. For information about obtaining or creating a Windows stemcell, see [Downloading or Creating Windows Stemcells](./stemcells.html).

The minimum resource requirements for each Windows Diego Cell are:

* Disk size: 64&nbsp;GB (100&nbsp;GB recommended)

* Memory: 16&nbsp;GB

* CPUs: 4


## <a id='contents'></a>Contents

### <a id='understand'></a> About <%= vars.product_windows %>

* [Product Architecture](architecture.html)

### <a id='install'></a> Installation Guide

* [Downloading or Creating Windows Stemcells](stemcells.html)

* [Creating a Windows Stemcell for vSphere Manually](create-vsphere-stemcell-manually.html)

* [Creating a Windows Stemcell for vSphere Using stembuild (Beta)](create-vsphere-stemcell-automatically.html)

* [Installing and Configuring <%= vars.product_windows %>](installing.html)

* [Windows Diego Cells in Isolation Segments](isolation.html)

* [Migrating from <%= vars.product_windows %> 2012 R2 to <%= vars.product_windows %>](upgrade-2012r2-to-pasw.html)

* [Migrating Apps to <%= vars.product_windows %>](migrating.html)

### <a id='admin'></a> Admin Guide

* [Upgrading <%= vars.product_windows %> and Windows Stemcells](./upgrade-windows.html)

* [Troubleshooting Windows Diego Cells](./troubleshooting.html)

### <a id='dev'></a> Developer Guide

* [Deploying .NET Apps](develop.html)

* [Using SMB Volumes in .NET Apps](smb-volumes-apps.html)

* [Changing Windows Stacks](../devguide/deploy-apps/windows-stacks.html)

* [Tips for .NET Developers](using.html)


## <a id='limitations'></a> Limitations

<%= vars.product_windows %> has the following limitations:

* <%= vars.product_windows %> can be installed in an environment with the NSX Container Plugin (NCP), but NCP cannot be used with Windows containers in <%= vars.product_windows %>. For more information about NCP, see [What's New](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.5/rn/NSX-Container-Plugin-25-Release-Notes.html#about) in the VMware documentation.  

* Developers cannot push Docker or other OCI-compatible images to Windows Diego Cells.

* Container-to-container networking is not available for Windows-hosted apps.

* OpenStack is currently not supported for <%= vars.product_windows %>. Contact your Pivotal representative for information about OpenStack deployments.

* SMB is supported, but Volume Services is not supported.

* Due to Known Issue #244 in Windows Server OS, apps hosted on <%= vars.product_windows %> cannot route traffic when deployed with the IPsec add-on for <%= vars.product_name %>. For more information, see [Traffic to containers via NAT stops working when using IPSec to encrypt network connections](https://github.com/Microsoft/hcsshim/issues/244) on GitHub.
