---
title: PAS for Windows
owner: Windows
---

<%= vars.windows_runtime_full %> (<%= vars.windows_runtime_abbr %>) enables operators to provision, operate, and manage Windows stemcells on <%= vars.product_name %>.

After operators install the <%= vars.windows_runtime_abbr %> tile on the Ops Manager Installation Dashboard, developers can push .NET apps to Windows Diego Cells using the [Cloud Foundry Command Line Interface](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/cf-cli/) (cf CLI).

For the <%= vars.windows_runtime_abbr %> release notes, see [Pivotal Application Service for Windows v<%= product_info['local_product_version'].to_s %> Release Notes](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/pcf-release-notes/windows-rn.html).


## <a id='reqs'></a> Requirements

To install the <%= vars.windows_runtime_abbr %> tile, you must have:

* Ops Manager v<%= product_info['local_product_version'].to_s %> and Pivotal Application Service (PAS) v<%= product_info['local_product_version'].to_s %> deployed to vSphere, Amazon Web Services (AWS), Google Cloud Platform (GCP), or Azure.  

* A Windows stemcell. For information about obtaining or creating a Windows stemcell, see [Downloading or Creating Windows Stemcells](./stemcells.html).  

The minimum resource requirements for each Windows Diego Cell are:

* Disk size: 64&nbsp;GB (100&nbsp;GB recommended)

* Memory: 16&nbsp;GB

* CPUs: 4


## <a id='contents'></a>Contents

### <a id='understand'></a> About <%= vars.windows_runtime_abbr %>

* [Product Architecture](architecture.html)

### <a id='install'></a> Installation Guide

* [Downloading or Creating Windows Stemcells](stemcells.html)

* [Creating a Windows Stemcell for vSphere Manually](create-vsphere-stemcell-manually.html)

* [Creating a Windows Stemcell for vSphere Using stembuild](create-vsphere-stemcell-automatically.html)

* [Installing and Configuring <%= vars.windows_runtime_abbr %>](installing.html)

* [Windows Diego Cells in Isolation Segments](isolation.html)

* [Migrating Apps to <%= vars.windows_runtime_abbr %>](migrating.html)

### <a id='admin'></a> Admin Guide

* [Upgrading <%= vars.windows_runtime_abbr %> and Windows Stemcells](./upgrade-windows.html)

* [Troubleshooting Windows Diego Cells](./troubleshooting.html)

### <a id='dev'></a> Developer Guide

* [Deploying .NET Apps](develop.html)

* [Using SMB Volumes in .NET Apps](smb-volumes-apps.html)

* [Changing Windows Stacks](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/windows-stacks.html)

* [Tips for .NET Developers](using.html)


## <a id='limitations'></a> Limitations

The following limitations affect Windows containers in <%= vars.product_windows %>:  

* [Windows Server Container Limitations](#limitations-windows)
* [<%= vars.product_windows %> Limitations](#limitations-pasw)  

#### <a id='limitations-windows'></a> Windows Server Container Limitations

We use Windows Server Core Containers in <%= vars.windows_runtime_abbr %>. 
The following are known Windows Server Container limitations:

* Windows Server Core containers support the host VM's timezone only. 
In <%= vars.product_windows %>, the host and container time-zone will always be UTC.   
* Windows Server 2019 Core images support only Arial font. 
No other fonts are supported, and no others can be installed. 

#### <a id='limitations-pasw'></a> <%= vars.product_windows %> Limitations

<%= vars.windows_runtime_abbr %> has the following limitations:

* <%= vars.windows_runtime_abbr %> can be installed in an environment with the NSX Container Plugin (NCP), but NCP cannot be used with Windows containers in <%= vars.windows_runtime_abbr %>. For more information about NCP, see [What's New](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.5/rn/NSX-Container-Plugin-25-Release-Notes.html#about) in the VMware documentation.  

* Developers cannot push Docker or other OCI-compatible images to Windows Diego Cells.

* Container-to-container networking is not available for Windows-hosted apps.

* OpenStack is currently not supported for <%= vars.windows_runtime_abbr %>. Contact your Pivotal representative for information about OpenStack deployments.

* SMB is supported, but Volume Services is not supported.

* Due to Known Issue #244 in Windows Server OS, apps hosted on <%= vars.windows_runtime_abbr %> cannot route traffic when deployed with the IPsec add-on for <%= vars.platform_name %>. For more information, see [Traffic to containers via NAT stops working when using IPSec to encrypt network connections](https://github.com/Microsoft/hcsshim/issues/244) on GitHub.
