---
title: VMware Tanzu Application Service for VMs &#91;Windows&#93; v2.9 Release Notes
owner: Garden Windows
---

<% current_page.data.title = vars.windows_runtime_full + " " + vars.v_major_version + " Release Notes" %>

<p class="note"><strong>Note:</strong>
  Pivotal Platform is now part of VMware Tanzu.
  In v2.9 and later, Pivotal Application Service for Windows is renamed to VMware Tanzu Application Service for VMs &#91;Windows&#93;.
</p>

This topic contains release notes for <%= vars.windows_runtime_full %> <%= vars.v_major_version %>.

For the feature highlights of this release,
read the blog post [VMware Tanzu Application Service 2.9: Key Enhancements for Transformation at Scale](https://tanzu.vmware.com/content/blog/vmware-tanzu-application-service-2-9-key-enhancements-for-transformation-at-scale),
or see [New Features in <%= vars.windows_runtime_abbr %> v2.9](#new-features).

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle
releasing a MySQL patch and VMware releasing <%= vars.windows_runtime_abbr %> containing that patch.

<hr>

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>
 
### <a id='2.9.24'></a> 2.9.24

**Release Date:** 09/29/2021

* **[Security Fix]** Fixes an issue where BBS socket connections could be kept alive unnecessarily
* **[Feature Improvement]** Disable Diego container proxy ALPN
* Bump diego to version `2.53.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.53.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.18</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.14</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>smoke-tests</td><td>3.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.29.0</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.9.23'></a> 2.9.23

**Release Date:** 09/16/2021

* **[Bug Fix]** garden-runc - Fix handling reserved space on ext4 and generating bundle mounts when SMB volumes are present
* Bump garden-runc to version `1.19.30`
* Bump windowsfs-release to version `2.29.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.18</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.14</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>smoke-tests</td><td>3.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.29.0</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.9.22'></a> 2.9.22

**Release Date:** 09/09/2021

* **[Bug Fix]** garden-runc - recover after cell restarts
* Bump garden-runc to version `1.19.29`
* Bump windowsfs-release to version `2.28.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.29</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.18</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.14</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>smoke-tests</td><td>3.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.28.0</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.9.21'></a> 2.9.21

**Release Date:** 07/15/2021

* Bump garden-runc to version `1.19.28`
* Bump hwc-offline-buildpack to version `3.1.18`
* Bump loggregator-agent to version `5.3.14`
* Bump windowsfs-release to version `2.27.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.28</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.18</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.14</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>smoke-tests</td><td>3.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.27.0</td></tr>
  </tbody>
</table>
 
 

### <a id='2.9.20'></a> 2.9.20

**Release Date:** 06/22/2021

* **[Security Fix]** Bump some dependencies to resolve security vulnerabilities
* Bump loggregator-agent to version `5.3.13`
* Bump metrics-discovery to version `3.0.6`
* Bump windowsfs-release to version `2.26.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.25</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.13</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>smoke-tests</td><td>3.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.26.0</td></tr>
  </tbody>
</table>



### <a id='2.9.19'></a> 2.9.19

**Release Date:** 05/27/2021

* See [Known Issues](#known-issues).
* **[Feature Improvement]** Patch versions can be upgraded without a stemcell upgrade
* **[Bug Fix]** Smoke Test allows the operator to provide the apps_domain property when deploying TAS and also properly configures user provided space when deploying an isolation segment
* Bump diego to version `2.50.0`
* Bump garden-runc to version `1.19.25`
* Bump smoke-tests to version `3.2.0`
* Bump windowsfs-release to version `2.25.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.25</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.10</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>smoke-tests</td><td>3.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.25.0</td></tr>
  </tbody>
</table>



### <a id='2.9.18'></a> 2.9.18

**Release Date:** 03/31/2021

* Bump windows2019 stemcell to version `2019.32`
* Bump windowsfs-release to version `2.23.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.32</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.18</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.10</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.23.0</td></tr>
  </tbody>
</table>



### <a id='2.9.17'></a> 2.9.17

**Release Date:** 02/19/2021

* Bump windows2019 stemcell to version `2019.30`
* Bump windowsfs-release to version `2.22.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.30</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.18</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.10</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.22.0</td></tr>
  </tbody>
</table>


### <a id='2.9.16'></a> 2.9.16

**Release Date:** 12/18/2020

* **[Security Fix]** Bump garden-runc-release to address [CVE-2020-15257](https://nvd.nist.gov/vuln/detail/CVE-2020-15257)
* Bump windows2019 stemcell to version `2019.29`
* Bump garden-runc to version `1.19.18`
* Bump windowsfs-release to version `2.20.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.29</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.18</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.10</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.20.0</td></tr>
  </tbody>
</table>



### <a id='2.9.15'></a> 2.9.15

**Release Date:** 11/17/2020

* No BOSH release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.27</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.10</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.19.0</td></tr>
  </tbody>
</table>



### <a id='2.9.14'></a> 2.9.14

**Release Date:** 11/04/2020

* Bump metrics-discovery to version `3.0.3`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.27</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.10</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.19.0</td></tr>
  </tbody>
</table>



### <a id='2.9.13'></a> 2.9.13

**Release Date:** 10/26/2020

* **[Bug Fix]** Loggregator Agent Release - Prom Scraper metrics server names match
* Bump windows2019 stemcell to version `2019.27`
* Bump windowsfs-release to version `2.19.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.27</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.10</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.19.0</td></tr>
  </tbody>
</table>



### <a id='2.9.12'></a> 2.9.12

**Release Date:** 10/09/2020

* **[Bug Fix]** Remove "power_of_two" constraint from CPU resource definitions
* Bump windows2019 stemcell to version `2019.26`
* Bump windowsfs-release to version `2.18.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.26</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.10</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.18.0</td></tr>
  </tbody>
</table>



### <a id='2.9.11'></a> 2.9.11

**Release Date:** 09/21/2020

* No BOSH release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.25</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.10</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.17.0</td></tr>
  </tbody>
</table>



### <a id='2.9.10'></a> 2.9.10

**Release Date:** 09/09/2020

* Bump windows2019 stemcell to version `2019.25`
* Bump diego to version `2.48.0`
* Bump envoy-nginx to version `0.7.0`
* Bump windowsfs-release to version `2.17.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.25</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.10</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.17.0</td></tr>
  </tbody>
</table>



### <a id='2.9.9'></a> 2.9.9

**Release Date:** 08/24/2020

* **[Bug Fix]** Bump garden-runc to v1.19.16
* Bump garden-runc to version `1.19.16`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.24</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>license</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>5.3.10</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.16.0</td></tr>
  </tbody>
</table>



### <a id='2.9.8'></a> 2.9.8

**Release Date:** 08/07/2020

* **[Bug Fix]** System Metrics Scraper/Prom Scraper — Fixes a bug that causes excess log volume and increases scrape interval to reduce metric volume
* Bump windows2019 stemcell to version `2019.24`
* Bump garden-runc to version `1.19.14`
* Bump windowsfs-release to version `2.16.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.24</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.14</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.10</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.16.0</td></tr>
  </tbody>
</table>



### <a id='2.9.7'></a> 2.9.7

**Release Date:** 07/09/2020

* Bump windows2019 stemcell to version `2019.23`
* No release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.23</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.10</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.15.0</td></tr>
  </tbody>
</table>



### <a id='2.9.6'></a> 2.9.6

**Release Date:** 06/25/2020

* **[Breaking Change]** Incorrect HTTP(S) Proxy configuration breaks CredHub interpolation for apps. For more information, see [<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> Breaking Changes](https://docs.pivotal.io/platform/2-9/release-notes/breaking-changes.html#credhub-interpolate-with-https-win).
* **[Bug Fix]** Remove invalid characters in hostnames in outgoing application syslog messages to comply with [RFC 5424](https://tools.ietf.org/html/rfc5424)
* Bump diego to version `2.47.0`
* Bump loggregator-agent to version `5.3.10`
* Bump smoke-tests to version `2.2.0`
* Bump windowsfs-release to version `2.15.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.22</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.10</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.15.0</td></tr>
  </tbody>
</table>



### <a id='2.9.5'></a> 2.9.5

**Release Date:** 06/11/2020

* **[Bug Fix]** Loggregator Agent - Fix certificate issues for all agent metrics
* No release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.22</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.9</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.14.0</td></tr>
  </tbody>
</table>



### <a id='2.9.4'></a> 2.9.4

**Release Date:** 06/03/2020

* **[Bug Fix]** Migrate `services/intermediate_tls_ca` to `/services/tls_leaf` for Maestro
* Bump windows2019 stemcell to version `2019.22`
* Bump metrics-discovery to version `3.0.1`
* Bump windowsfs-release to version `2.14.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.22</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.9</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.14.0</td></tr>
  </tbody>
</table>



### <a id='2.9.3'></a> 2.9.3

**Release Date:** 05/18/2020

* **[Bug Fix]** Fix scheduling bug in `loggregator agent` by upgrading to Go 1.14.2
* Bump loggregator-agent to version `5.3.9`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.20</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.9</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.13.0</td></tr>
  </tbody>
</table>



### <a id='2.9.2'></a> 2.9.2

**Release Date:** 05/05/2020

* **[Feature Improvement]** NATS TLS server runs alongside NATS server
* **[Feature Improvement]** NATS communication happens securely over TLS for Windows Diego Cells
* Bump windows2019 stemcell to version `2019.20`
* Bump windowsfs-release to version `2.13.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.20</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.8</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.13.0</td></tr>
  </tbody>
</table>



### <a id='2.9.1'></a> 2.9.1

**Release Date:** 04/22/2020

* **[Bug Fix]** Fix `server_name` value to use Common Name as metrics_agent_metrics_tls
* Bump windows2019 stemcell to version `2019.19`
* No release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.19</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.8</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.12.0</td></tr>
  </tbody>
</table>



### <a id='2-9-0'></a> v2.9.0

**Release Date:** April 10, 2020

**[Feature]** Make app log rate limit configurable.
  For more information, see [New Features in <%= vars.windows_runtime_abbr %> v2.9](#new-features).

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.15</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.8</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.12.0</td></tr>
  </tbody>
</table>


## <a id='upgrade'></a> How to Upgrade

The <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile is available with the release of <%= vars.platform_name %>
<%= vars.v_major_version %>.
To use the <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile,
you must install <%= vars.ops_manager_full %> <%= vars.v_major_version %> or later and <%= vars.app_runtime_full %>
(<%= vars.app_runtime_abbr %>) <%= vars.v_major_version %> or later.


## <a id='new-features'></a> New Features in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes the following major features:

### <a id='route-emitter-nats-tls'></a> Route Emitters Communicate with NATS Over TLS

Route Emitters for Windows Diego Cells send messages to NATS over TLS. This allows your <%= vars.windows_runtime_abbr %> deployment to meet security compliance requirements while relying less on security policy exceptions or add-ons. TLS encryption from Route Emitters to NATS cannot be disabled.

For more information about Route Emitters and TLS encryption, see [TLS to Apps and Other Back End Services](https://docs.pivotal.io/application-service/2-9/concepts/http-routing.html#tls-to-back-end) in _HTTP Routing_.

### <a id='app-log-limit'></a> Configure App Log Rate Limit (Beta)

You can limit the number of log lines each app instance in your isolation segment generates per second by configuring the **App log rate limit (beta)** section in the **App Containers** pane of the <%= vars.segment_runtime_full %> tile.

This feature is disabled by default. Enabling this feature prevents app instances from overloading the Loggregator Agent with logs, so the Loggregator Agent does not drop logs for other app instances. Enabling this feature also prevents apps from reporting inaccurate app metrics in the Cloud Foundry Command Line Interface (cf CLI) or increasing the CPU usage on the Diego Cell VM.

For more information, see [Assign a Tile to an Isolation Segment](https://docs.pivotal.io/application-service-windows/2-9/isolation.html#assign-isolation) in _Windows Diego Cells in Isolation Segments_.

## <a id='breaking-changes'></a> Breaking Changes

See the following <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> breaking change:

### <a id='credhub-interpolate-with-https-win'></a> Incorrect HTTP(S) Proxy Configuration Breaks CredHub Interpolation for Apps in <%= vars.windows_runtime_abbr %> v2.9.6 and Later

In <%= vars.windows_runtime_abbr %> v2.9.6 and later, apps that have an incorrect HTTP(S) Proxy configuration fail to stage or restart due to a CredHub interpolation error.

Before you upgrade to <%= vars.windows_runtime_abbr %> v2.9.6 or later, you must fix the HTTP(S) Proxy configuration of any impacted applications:

1. Determine whether your apps are impacted by following the resolution procedure in [Knowledgebase Article 9305](https://community.pivotal.io/s/article/Credhub-Reference-Can-t-Be-Interpolated-Due-To-Improper-HTTP-S-Proxy-Configuration).
1. Update all impacted apps to use the recommended proxy settings that are documented in [Configuring Proxy Settings for All Apps](https://docs.pivotal.io/application-service/2-9/operating/config-proxy.html).
1. Restart modified apps.

## <a id='known-issues'></a> Known Issues

See the following <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> known issue:

### <a id='no-stemcell-bump'></a>Upgrades Fail When the Stemcell Does Not Change

If you upgrade to a version of <%= vars.windows_runtime_abbr %> that uses the same stemcell, <%= vars.windows_runtime_abbr %> can fail to create containers, causing the deployment to fail.
If there are stemcell changes or if the Microsoft base layer changes, this error is unlikely to occur.

For more information, see [Failure to create containers when upgrading with shared Microsoft base image](https://community.pivotal.io/s/article/knowledge-base-failure-to-create-containers-when-upgrading-with-shared-microsoft-base-image) in the VMware Tanzu Knowledge Base.
