---
title: Pivotal Application Service for Windows v2.10 Release Notes
owner: Garden Windows
---

<% current_page.data.title = vars.windows_runtime_full + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.windows_runtime_full %> <%= vars.v_major_version %>.

For the feature highlights of this release,
read the blog post [VMware Tanzu Application Service 2.10 Adds New CLI, Eases Upgrades with More Flexible Control Plane](https://tanzu.vmware.com/content/blog/vmware-tanzu-application-service-2-10-adds-a-new-cli-and-eases-upgrades-with-a-more-flexible-control-plane)
or see [New Features in <%= vars.windows_runtime_abbr %> v2.10](#new-features).

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle
releasing a MySQL patch and VMware releasing <%= vars.windows_runtime_abbr %> containing that patch.

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>
 
### <a id='2.10.18'></a> 2.10.18

**Release Date:** 10/20/2021

* No BOSH release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.53.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.18</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>winc</td><td>2.1.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.29.0</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.10.17'></a> 2.10.17

**Release Date:** 09/29/2021

* **[Security Fix]** Fixes an issue where BBS socket connections could be kept alive unnecessarily
* **[Feature Improvement]** Disable Diego container proxy ALPN
* Bump diego to version `2.53.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.53.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.18</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>winc</td><td>2.1.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.29.0</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.10.16'></a> 2.10.16

**Release Date:** 09/16/2021

* **[Bug Fix]** garden-runc - Fix handling reserved space on ext4 and generating bundle mounts when SMB volumes are present
* Bump garden-runc to version `1.19.30`
* Bump windowsfs-release to version `2.29.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.18</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>winc</td><td>2.1.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.29.0</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.10.15'></a> 2.10.15

**Release Date:** 09/09/2021

* **[Bug Fix]** garden-runc - recover after cell restarts
* Bump garden-runc to version `1.19.29`
* Bump windowsfs-release to version `2.28.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.29</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.18</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>winc</td><td>2.1.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.28.0</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.10.14'></a> 2.10.14

**Release Date:** 07/15/2021

* Bump garden-runc to version `1.19.28`
* Bump hwc-offline-buildpack to version `3.1.18`
* Bump windowsfs-release to version `2.27.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.28</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.18</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>winc</td><td>2.1.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.27.0</td></tr>
  </tbody>
</table>
 
 

### <a id='2.10.13'></a> 2.10.13

**Release Date:** 06/22/2021

* **[Security Fix]** Bump some dependencies to resolve security vulnerabilities
* Bump loggregator-agent to version `6.0.6`
* Bump metrics-discovery to version `3.0.6`
* Bump windowsfs-release to version `2.26.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.25</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>winc</td><td>2.1.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.26.0</td></tr>
  </tbody>
</table>



### <a id='2.10.12'></a> 2.10.12

**Release Date:** 05/27/2021

* See [Known Issues](#known-issues).
* **[Feature Improvement]** Patch versions can be upgraded without a stemcell upgrade
* **[Bug Fix]** Smoke Test allows the operator to provide the apps_domain property when deploying TAS and also properly configures user provided space when deploying an isolation segment
* Bump diego to version `2.50.0`
* Bump garden-runc to version `1.19.25`
* Bump smoke-tests to version `4.3.0`
* Bump windowsfs-release to version `2.25.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.25</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>winc</td><td>2.1.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.25.0</td></tr>
  </tbody>
</table>



### <a id='2.10.11'></a> 2.10.11

**Release Date:** 03/31/2021

* Bump windows2019 stemcell to version `2019.32`
* Bump windowsfs-release to version `2.23.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.32</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.18</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.1.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.23.0</td></tr>
  </tbody>
</table>



### <a id='2.10.10'></a> 2.10.10

**Release Date:** 02/19/2021

* Bump windows2019 stemcell to version `2019.30`
* Bump windowsfs-release to version `2.22.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.30</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.18</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.1.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.22.0</td></tr>
  </tbody>
</table>

### <a id='2.10.9'></a> 2.10.9

**Release Date:** 12/18/2020

* **[Security Fix]** Bump garden-runc-release to address [CVE-2020-15257](https://nvd.nist.gov/vuln/detail/CVE-2020-15257)
* Bump windows2019 stemcell to version `2019.29`
* Bump garden-runc to version `1.19.18`
* Bump windowsfs-release to version `2.20.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.29</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.18</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.1.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.20.0</td></tr>
  </tbody>
</table>



### <a id='2.10.8'></a> 2.10.8

**Release Date:** 11/18/2020

* No BOSH release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.27</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.1.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.19.0</td></tr>
  </tbody>
</table>



### <a id='2.10.7'></a> 2.10.7

**Release Date:** 11/04/2020

* Bump metrics-discovery to version `3.0.3`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.27</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.1.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.19.0</td></tr>
  </tbody>
</table>



### <a id='2.10.6'></a> 2.10.6

**Release Date:** 10/26/2020

* **[Bug Fix]** Loggregator Agent Release - Prom Scraper metrics server names match
* Bump windows2019 stemcell to version `2019.27`
* Bump windowsfs-release to version `2.19.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.27</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.1.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.19.0</td></tr>
  </tbody>
</table>



### <a id='2.10.5'></a> 2.10.5

**Release Date:** 10/09/2020

* **[Feature]** The v7 cf CLI is the default CLI
* **[Bug Fix]** Remove "power_of_two" constraint from CPU resource definitions
* Bump windows2019 stemcell to version `2019.26`
* Bump windowsfs-release to version `2.18.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.26</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.1.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.18.0</td></tr>
  </tbody>
</table>



### <a id='2.10.4'></a> 2.10.4

**Release Date:** 09/21/2020

* No BOSH release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.25</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.1.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.17.0</td></tr>
  </tbody>
</table>



### <a id='2.10.3'></a> 2.10.3

**Release Date:** 09/09/2020

* Bump windows2019 stemcell to version `2019.25`
* Bump diego to version `2.48.0`
* Bump envoy-nginx to version `0.7.0`
* Bump smoke-tests to version `2.2.0`
* Bump windowsfs-release to version `2.17.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.25</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.1.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.17.0</td></tr>
  </tbody>
</table>



### <a id='2.10.2'></a> 2.10.2

**Release Date:** 08/24/2020

* **[Bug Fix]** Bump garden-runc to v1.19.16
* Bump garden-runc to version `1.19.16`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.24</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>license</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>winc</td><td>2.1.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.16.0</td></tr>
  </tbody>
</table>



### <a id='2.10.1'></a> 2.10.1

**Release Date:** 08/08/2020

* **[Bug Fix]** System Metrics Scraper/Prom Scraper — Fixes a bug that causes excess log volume and increases scrape interval to reduce metric volume
* Bump windows2019 stemcell to version `2019.24`
* Bump garden-runc to version `1.19.14`
* Bump windowsfs-release to version `2.16.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.24</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.14</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>winc</td><td>2.1.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.16.0</td></tr>
  </tbody>
</table>



### <a id='2.10.0'></a> 2.10.0

**Release Date:** July 31, 2020

* **[Feature]** Support Maestro's rotation capability by adding Services TLS CA to all app containers
* **[Feature]** Optionally Converge on Human Readable Timestamps for TAS Component Logs
* **[Feature]** Make app log rate limit configurable
* **[Feature Improvement]** Removes metrics by default in aggregate drains
* **[Feature Improvement]** NATS TLS server runs alongside NATS server
* **[Bug Fix]** Remove invalid characters in hostnames in outgoing application syslog messages to comply with [RFC 5424](https://tools.ietf.org/html/rfc5424)
* **[Bug Fix]** Loggregator Agent - Fix certificate issues for all agent metrics
* **[Bug Fix]** Migrate `services/intermediate_tls_ca` to `/services/tls_leaf` for Maestro
* **[Bug Fix]** Fix `server_name` value to use Common Name as metrics_agent_metrics_tls
* Add new release smoke-tests at version `2.0.6`
* Removed cf-windows-smoke-tests release
* Bump windows2019 stemcell to version `2019.23`
* Bump windowsfs-release to version `2.15.0`
* Bump windows-utilities to version `0.14.0`
* Bump winc to version `2.1.0`
* Bump garden-runc to version `1.19.11`
* Bump diego to version `2.47.0`
* Bump loggregator-agent to version `6.0.2`
* Bump metrics-discovery to version `3.0.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.23</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.11</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>winc</td><td>2.1.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.15.0</td></tr>
  </tbody>
</table>



## <a id='upgrade'></a> How to Upgrade

The <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile is available with the release of <%= vars.platform_name %> <%= vars.v_major_version %>. To use the <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile, you must install <%= vars.ops_manager_full %> <%= vars.v_major_version %> or later and <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) <%= vars.v_major_version %> or later.


## <a id='new-features'></a> New Features in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes the following major features:

### <a id='route-emitter-nats-tls'></a> Route Emitters Communicate with NATS Over TLS

Route Emitters for Windows Diego Cells send messages to NATS over TLS. This allows your <%= vars.windows_runtime_abbr %> deployment to meet security compliance requirements while relying less on security policy exceptions or add-ons. TLS encryption from Route Emitters to NATS cannot be disabled.

For more information about Route Emitters and TLS encryption, see [TLS to Apps and Other Back End Services](http://docs.pivotal.io/application-service/2-10/concepts/http-routing.html#tls-to-back-end) in _HTTP Routing_.

### <a id='syslog-no-metrics'></a>Aggregate Syslog Drains Contain Logs Only

When you configure an aggregate syslog drain in <%= vars.app_runtime_abbr %> v2.10, by default you receive logs only.
You do not also receive metrics.
By not including metrics alongside logs, your syslog drain uses fewer resources and reduces network traffic between <%= vars.app_runtime_abbr %> components and your external logging service.

If you want the aggregate drain to send metrics along with logs, you can modify your drain URLs.

To continue to see metrics in your drains after upgrading to <%= vars.app_runtime_abbr %> v2.10:

1. Navigate to the Ops Manager Installation Dashboard.
1. Click the **VMware Tanzu Application Service for VMs** tile in the Installation Dashboard.
1. Select **System Logging**.
1. For **Address**, enter the hostname or IP address of the syslog server and append `?include-metrics-deprecated=true`. For example, `https://syslog-server.com:123?include-metrics-deprecated=true`.
1. Click **Save**.

For more information about configuring aggregate syslog drains, see [Configure System Logging](http://docs.pivotal.io/application-service/operating/configure-pas.html#sys-logging) in _Configuring TAS for VMs_.

### <a id='disable-logs-firehose'></a> Send Only App Metrics to Firehose

You can choose to prevent the Loggregator Firehose from emitting app logs but still allow the Firehose to emit app metrics. Disabling logs in the Firehose helps reduce the load on <%= vars.windows_runtime_abbr %> by allowing you to scale down Doppler and Traffic Controller VMs.

To configure the Firehose to receive only app metrics, you must select the **Disable logs in Firehose**, **Log Cache syslog ingestion**, **Enable V1 Firehose**, and **Enable V2 Firehose** checkboxes in the **System Logging** pane of the <%= vars.app_runtime_abbr %> tile. You must also configure **Aggregate log and metric drain destinations** in the **System Logging** pane of the <%= vars.app_runtime_abbr %> tile. For more information, see [Configure System Logging](http://docs-pcf-staging.cfapps.io/application-service/2-10/operating/configure-pas.html#sys-logging) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id='timestamps'></a> Optionally Use Human-Readable Timestamps for Component Logs

<%= vars.app_runtime_abbr %> v2.10 introduces RFC3339 log format support for several TAS for VMs components. You can configure these components to produce logs with human-readable RFC3339 timestamps with the **Timestamp format for component logs** configuration option in the <%= vars.app_runtime_abbr %> tile. Logs that use human-readable timestamps are often easier to debug.

RFC3339-formatted timestamps follow the RFC3339 spec, include nine points of precision where possible, and are in UTC. For example:

* 2019-11-21T22:16:18.750673404Z
* 2019-11-21T22:16:18.750000000Z

For more information about configuring the **Timestamp format for component logs** field, see [System Logging](https://docs.pivotal.io/application-service/2-10/operating/configure-pas.html) in _Configuring <%= vars.app_runtime_abbr %>_.

In <%= vars.app_runtime_abbr %> v2.10.0, if you select the **Converge to human-readable RFC3339 format** option under **Timestamp format for component logs**, then the following components and related jobs use RFC3339 timestamps: 

| Component | Jobs |
| ------------ | ----- |
| `routing` | `gorouter` |
| `silk` | `iptables logger`, `silk-daemon` |
| `diego` | `auctioneer`, `bbs`, `file_server`, `locket`, `rep`, `route_emitter`, `ssh_proxy` |
| `garden-runc` | `garden` |
| `pxc` | `pxc-mysql`, `proxy`, `galera-agent`, `gra-log-purger` |
| `mysql-monitoring` | `mysql-metrics`, `replication-canary` |

Components not listed in the table above either do not support RFC3339 timestamps in <%= vars.app_runtime_abbr %> v2.10.0 or were already using the RFC3339 timestamp format. Selecting **Converge to human-readable RFC3339 format** ensures that any additional components that add support for RFC3339 timestamps in later releases of <%= vars.app_runtime_abbr %> v2.10 are automatically configured to use RFC3339 timestamps after you upgrade.

To confirm which <%= vars.app_runtime_abbr %> components use RFC3339 timestamps:

1. Go to the `debug/files` endpoint at `https://OPS-MANAGER-FQDN/debug/files`, where `OPS-MANAGER-FQDN` is the fully-qualified domain name of your Ops Manager instance.

1. For each component, confirm that the `logging.format.timestamp` property is set to `rfc3339`.

<p class='note breaking'><strong>Breaking Change:</strong> The <strong>Timestamp format for component logs</strong> feature replaces the <strong>Format of timestamps in Diego logs</strong> feature in the <strong>App Containers</strong> pane of the <%= vars.app_runtime_abbr %> tile. However, when you upgrade to <%= vars.app_runtime_abbr %> v2.10, the option that was selected under <strong>Format of timestamps in Diego logs</strong> in your previous deployment is applied to <strong>Timestamp format for component logs</strong>. For more information, see <a href='https://docs.pivotal.io/platform/2-10/breaking-changes.html#timestamps'>Timestamp Format for Component Logs Replaces Timestamp Format for Diego Logs</a> in <em>Ops Manager and Runtime Breaking Changes</em>.</p>

## <a id='breaking-changes'></a> Breaking Changes

There are no breaking changes in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.

## <a id='known-issues'></a> Known Issues

See the following <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> known issue:

### <a id='no-stemcell-bump'></a>Upgrades Fail When the Stemcell Does Not Change

If you upgrade to a version of <%= vars.windows_runtime_abbr %> that uses the same stemcell, <%= vars.windows_runtime_abbr %> can fail to create containers, causing the deployment to fail.
If there are stemcell changes or if the Microsoft base layer changes, this error is unlikely to occur.

For more information, see [Failure to create containers when upgrading with shared Microsoft base image](https://community.pivotal.io/s/article/knowledge-base-failure-to-create-containers-when-upgrading-with-shared-microsoft-base-image) in the VMware Tanzu Knowledge Base.
