---
title: Pivotal Application Service for Windows v2.11 Release Notes
owner: Garden Windows
---

<% current_page.data.title = vars.windows_runtime_full + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.windows_runtime_full %> <%= vars.v_major_version %>.


## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>
 
### <a id='2.11.0-alpha.11'></a> 2.11.0-alpha.11

**Release Date:** 10/26/2020

* **[Bug Fix]** Loggregator Agent Release - Prom Scraper metrics server names match
* Bump windows2019 stemcell to version `2019.27`
* Bump loggregator-agent to version `6.1.3`
* Bump windowsfs-release to version `2.19.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.27</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.1.3</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.19.0</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.11.0-alpha.10'></a> 2.11.0-alpha.10

**Release Date:** 10/09/2020

* **[Feature]** The v7 cf CLI is the default CLI
* **[Bug Fix]** Remove "power_of_two" constraint from CPU resource definitions
* Bump windows2019 stemcell to version `2019.26`
* Bump loggregator-agent to version `6.1.2`
* Bump windowsfs-release to version `2.18.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.26</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.1.2</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.18.0</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.11.0-alpha.9'></a> 2.11.0-alpha.9

**Release Date:** 09/21/2020

* No BOSH release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.25</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.17.0</td></tr>
  </tbody>
</table>
 
 

### <a id='2.11.0-alpha.8'></a> 2.11.0-alpha.8

**Release Date:** 09/09/2020

* Bump windows2019 stemcell to version `2019.25`
* Bump windowsfs-release to version `2.17.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.25</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.17.0</td></tr>
  </tbody>
</table>
 
### <a id='2.11.0-alpha.7'></a> 2.11.0-alpha.7

**Release Date:** 08/24/2020

* No BOSH release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.24</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.16.0</td></tr>
  </tbody>
</table>



### <a id='2.11.0-alpha.6'></a> 2.11.0-alpha.6

**Release Date:** 07/09/2020

* Bump windows2019 stemcell to version `2019.23`
* Bump garden-runc to version `1.19.13`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.23</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.13</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.15.0</td></tr>
  </tbody>
</table>



### <a id='2.11.0-alpha.5'></a> 2.11.0-alpha.5

**Release Date:** 06/25/2020

* Bump diego to version `2.47.0`
* Bump loggregator-agent to version `6.0.2`
* Bump windowsfs-release to version `2.15.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.22</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.12</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.15.0</td></tr>
  </tbody>
</table>



### <a id='2.11.0-alpha.4'></a> 2.11.0-alpha.4

**Release Date:** 06/11/2020

* **[Feature Improvement]** Removes metrics by default in aggregate drains
* **[Bug Fix]** Loggregator Agent - Fix certificate issues for all agent metrics
* Bump loggregator-agent to version `6.0.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.22</td></tr>
    <tr><td>diego</td><td>2.46.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.12</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.14.0</td></tr>
  </tbody>
</table>



### <a id='2.11.0-alpha.3'></a> 2.11.0-alpha.3

**Release Date:** 06/03/2020

* **[Feature]** Optionally Converge on Human Readable Timestamps for TAS Component Logs
* **[Bug Fix]** Migrate `services/intermediate_tls_ca` to `/services/tls_leaf` for Maestro
* Bump windows2019 stemcell to version `2019.22`
* Bump diego to version `2.46.0`
* Bump metrics-discovery to version `3.0.1`
* Bump windowsfs-release to version `2.14.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.22</td></tr>
    <tr><td>diego</td><td>2.46.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.12</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.0</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.14.0</td></tr>
  </tbody>
</table>



### <a id='2.11.0-alpha.2'></a> 2.11.0-alpha.2

**Release Date:** 05/18/2020

* Bump winc to version `2.2.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.20</td></tr>
    <tr><td>diego</td><td>2.45.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.12</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.0</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.9</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.13.0</td></tr>
  </tbody>
</table>



### <a id='2.11.0-alpha.1'></a> 2.11.0-alpha.1

**Release Date:** 05/05/2020

* **[Feature Improvement]** NATS TLS server runs alongside NATS server
* Bump garden-runc to version `1.19.12`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.20</td></tr>
    <tr><td>diego</td><td>2.45.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.12</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.0</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.9</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>winc</td><td>2.1.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.13.0</td></tr>
  </tbody>
</table>


## <a id='upgrade'></a> How to Upgrade

The <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile is available with the release of <%= vars.platform_name %> <%= vars.v_major_version %>. To use the <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile, you must install <%= vars.ops_manager_full %> <%= vars.v_major_version %> or later and <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) <%= vars.v_major_version %> or later.


## <a id='new-features'></a> New Features in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes the following major features:

## <a id='breaking-changes'></a> Breaking Changes

There are currently no breaking changes in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.

## <a id='known-issues'></a> Known Issues

There are currently no known issues in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.
